.log-card {
   display: grid;
   grid-template-columns: 1.25rem repeat(2, minmax(min-content, 10rem)) 1.25rem;
   grid-template-rows: 18rem minmax(4rem, min-content) 1rem;

   background-color: var(--color-grey-light);
   border-radius: 1rem;
   box-shadow: 3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
               11.2px 11.2px 17.9px rgba(0, 0, 0, 0.042),
               50px 50px 80px rgba(0, 0, 0, 0.07);

   position: relative;

   @media only screen and (max-width: 26.875em) {
      grid-template-columns: 1.25rem repeat(2, minmax(min-content, 8rem)) 1.25rem;
      grid-template-rows: 15rem minmax(4rem, min-content) 1rem;
   }

   &__item {
      grid-column: 2 / 4;
      border-radius: 1rem;
      overflow: hidden;
      transform: translateY(-0.8rem);
      box-shadow: 0 5px 8px rgba(#000, 0.1);
   }

   &__img {
      height: 100%;
      width: 100%;
   }

   &__description {
      justify-self: center;
      grid-column: 2 / 4;
      line-height: 1.4;
   }

   &__used {
      font-size: 1.2rem;
      font-weight: 400;
   }

   &__name {
      font-size: 1.4rem;
   }
}