.popup {
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   border-radius: 3px;
   padding: 2rem;
   background-color: #fff;
   box-shadow: 0 5px 8px rgba(#000, 0.1);

   display: flex;
   align-items: center;
   
   &__text {
      margin-right: 1rem;
   }

   &__close-button {
      display: flex;
      padding: 0;
      border: none;
      background: none;
   }
}