.product {
   display: grid;
   grid-template-columns: 1.5rem repeat(2, minmax(min-content, 14rem)) 1.5rem;
   grid-template-rows: 27rem repeat(2, max-content) 1.5rem;

   background-color: var(--color-grey-light);
   border-radius: 1rem;
   box-shadow: 3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
               11.2px 11.2px 17.9px rgba(0, 0, 0, 0.042),
               50px 50px 80px rgba(0, 0, 0, 0.07);

   position: relative;

   &__item {
      grid-column: 1 / -1;
      border-radius: 1rem;
      overflow: hidden;
      transform: translate(1.5rem, -1rem);
      box-shadow: 0 5px 8px rgba(#000, 0.1);
   }

   &__img {
      height: 100%;
      width: 100%;
   }


   &__used {
      grid-column: 2 / 3;
      font-size: 1.4rem;
      font-weight: 400;
   }

   &__name {
      grid-column: 2 / 3;
   }

   &__delete,
   &__request {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
      align-self: center;
      border: none;
      border-radius: 0.8rem;
      padding: 0.5rem 1.5rem;
      color: #fff;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
         transform: translateY(-2px);
         box-shadow: 0 0.8rem 1rem rgba(#000, 0.15);
      }
   }

   &__delete {
      font-size: 1.5rem;
      padding: 1.2rem;
   }

   &__bookmark {
      border: none;
      height: 4rem;
      border-radius: 50%;
      padding: 0.7rem;
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--color-grey-light);
      box-shadow: 0 5px 8px rgba(#000, 0.1);
   }
}