.theme {
   display: flex;
   align-items: center;

   position: absolute;
   bottom: 4rem;
   right: 7rem;

   @media only screen and (max-width: 50em) {
      bottom: 5rem;
   }

   @media only screen and (max-width: 31.25em) {
      right: 2.5rem;
   }

   font-weight: 400;

   &__button {
      border: none;
      border-radius: 50%;
      padding: 1rem;
      margin-left: 0.5rem;
      cursor: pointer;

      &--active {
         padding: 1.5rem;
      }

      &:focus {
         border: none;
      }

      &--purple {
         background-color: #3f51b5;
      }

      &--brown {
         background-color: #D1C7BE;
      }

      &--gray {
         background-color: #4D678C;
      }

      &--red {
         background-color: #ef233c;
      }

      /*
      &--orange {
         background-color: #eb5e28;
      }
      */
   }
}