.upload {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
   grid-gap: 4rem;
   justify-content: center;
   padding: 4rem;

   @media only screen and (max-width: 31.25em) {
      grid-gap: 3rem;
      padding: 3rem;
   }

   @media only screen and (max-width: 26.875em) {
      grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
      grid-gap: 2.5rem;
      padding: 2.5rem;
   }

   &__recommendation {
      display: grid;
      grid-gap: 2rem;
      justify-items: center;
      text-align: center;
   }

   &__description {
      font-size: 1.7rem;
      font-weight: 400;
   }

   &__product {
      display: flex;
      justify-content: center;
   }

   &__button {
      display: flex;
      font-size: 1.7rem;
      margin: 0 2rem 4rem 2rem;
      border-radius: 0.8rem;
      padding: 1.2rem 2.2rem;
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
         transform: translateY(-2px);
         box-shadow: 0 0.8rem 1rem rgba(#000, 0.15);
      }
   }

   &__svg {
      height: 30rem;
      width: auto;
   }
}